.pageLanding {
  background-color: var(--color-primary);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 40%;
  display: flex;
  flex-direction: column;
}

main img {
  max-width: 400px;
}

main h4 {
  font-size: 2rem;
  margin: 10px 0 30px;
  color: var(--color-text-in-primary);
}

main .mainButtons {
  display: flex;
  margin-top: 90px;
}

main .mainButtons a {
  background-color: var(--color-primary-dark);
  width: 40%;
  min-width: 220px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  transition: 500ms;
  border-radius: 5px;
}

main .mainButtons a:hover {
  background-color: var(--color-primary-darker);
}

main .mainButtons a + a {
  background-color: var(--color-secundary);
  margin-left: 15px;
}

main .mainButtons a + a:hover {
  background-color: var(--color-secundary-dark);
}

main .mainButtons a img {
  margin-right: 10px;
}

.landingBackground {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.landingBackground > img {
  width: 100%;
  margin-bottom: 50px;
}

.landingBackground span {
  margin: 10px 0;
  text-align: right;
  color: var(--color-text-complement);
}