.card {
  background-color: var(--color-box-base);
  margin: 50px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

header img {
  max-width: 80px;
  border-radius: 50%;
}

header .teacher {
  margin-left: 20px;
}

header .teacher h4 {
  font-size: 1.2rem;
  color: var(--color-text-title);
}

header .teacher span {
  font-size: 0.9rem;
  color: var(--color-text-complement);
}

.about {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.about p {
  color: var(--color-text-base);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 0;
}

.contact h5 {
  color: var(--color-text-complement);
}

.contact h5 span {
  color: var(--color-text-title);
  margin-left: 10px;
}

.contact button {
  background-color: var(--color-secundary);
  min-width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: var(--color-button-text);
  transition: 400ms;
}

.contact button:hover {
  background-color: var(--color-secundary-dark);
}

.contact button img {
  margin-right: 10px;
}

@media (max-width: 430px) {
  .contact {
    flex-direction: column;
  }

  .contact h5 {
    margin-bottom: 20px;
  }
}